#content{
    width: 100%;
}

#content .item{
    width: 100%;
    border-bottom: 1px black;
    border-bottom: 1px #CACACA solid;
    height: 32px;
}

#content .item .text {
    font-size: 18px;
    width: 53%;
    padding: 3px 0 3px 2%;
}

#content .item .time {
    font-size: 15px;
    width: 15%;
    padding-top: 5px;
    /*text-align: right;*/
}

#content .item .btn {
    width: 30%;
    cursor: pointer;
}

#content .item .btn .abandonBtn{
    background-color: #D9534F;
    text-align: center;
    float: left;
    width: 50%;
    height: 28px;
    color: #FFFFF9;
    padding-top: 4px;
}

#content .item .btn .doneBtn{
    background-color: #5CB85C;
    text-align: center;
    float: left;
    width: 50%;
    height: 28px;
    color: #FFFFF9;
    padding-top: 4px;
}