
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome、firefox */
  url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-spinner9:before { content: "\e865"; }
.icon-arrowleft2:before { content: "\e6e9"; }
.icon-arrowright2:before { content: "\e6fd"; }
.icon-head:before { content: "\e697"; }
.icon-menu:before { content: "\e6ac"; }
.icon-repeat:before { content: "\e6b8"; }
.icon-spinner10:before { content: "\e866"; }
.icon-tongue:before { content: "\e88a"; }
.icon-reply:before { content: "\e6b9"; }
.icon-ribbon:before { content: "\e6cb"; }
.icon-cog:before { content: "\e68a"; }
.icon-paper:before { content: "\e6c0"; }
.icon-tag:before { content: "\e6e0"; }
.icon-trash:before { content: "\e6e4"; }
.icon-baffled:before { content: "\e707"; }
.icon-marqueeplus:before { content: "\e6aa"; }
.icon-microphone:before { content: "\e6ad"; }
.icon-plus:before { content: "\e6b3"; }
.icon-arrowleft:before { content: "\e671"; }
.icon-arrowright:before { content: "\e672"; }
.icon-delete:before { content: "\e67d"; }
.icon-file:before { content: "\e68f"; }
.icon-folder:before { content: "\e693"; }
.icon-caidan:before { content: "\e62f"; }
.icon-icon:before { content: "\e614"; }
.icon-icon1:before { content: "\e613"; }
.icon-xiangzuo4:before { content: "\e627"; }
.icon-icon2:before { content: "\e630"; }
.icon-icon1:before { content: "\e62f"; }
.icon-xihuan:before { content: "\e63b"; }
.icon-huiyuan21:before { content: "\e641"; }
.icon-dingdan:before { content: "\e61a"; }
.icon-weixiu:before { content: "\e624"; }
.icon-fenxiang2:before { content: "\e603"; }
.icon-shandian:before { content: "\e600"; }
.icon-xihuan1:before { content: "\e607"; }
.icon-pinglun:before { content: "\e604"; }
.icon-fenxiang:before { content: "\e602"; }
.icon-pinglun1:before { content: "\e628"; }
.icon-liuyan:before { content: "\e627"; }
.icon-xiangyou:before { content: "\e630"; }
.icon-xiangzuo:before { content: "\e631"; }
.icon-pailie:before { content: "\e643"; }
.icon-xingxing:before { content: "\e62b"; }
.icon-weixiu1:before { content: "\e63a"; }
.icon-icon3:before { content: "\e637"; }
.icon-icon11:before { content: "\e636"; }
.icon-pen:before { content: "\e649"; }
.icon-configure:before { content: "\e60d"; }
.icon-shezhi:before { content: "\e624"; }
